
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    padding: 0 7.5vh 7.5vh;
    max-height: 100vh;
}

.text {
    margin-top: -5px;
    color: #e0ded7;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: white;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.hidden { 
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}
.test {
    -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(255,255,255,0.2));
    color: white;
    font-size: 5vw;

}

.tester {
    background-color: yellow;
}

    

.title1 {
    margin-top: -5px;
    color: #e0ded7;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100px;
    font-weight: 700;
    border: white;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 14px;
    color: white;
    font-size: 10vw;
    -webkit-box-reflect: below -60px linear-gradient(transparent, rgba(255,255,255,0.4));

}

html {
    overflow-x: hidden;
    display:grid;
    height: 100%;
    place-items: center;
    background-color: black;

    
}
.spotlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle,
    transparent 0px, rgba(0,0,0,0.65));
    filter: blur(15px);
}
